.App {
  /* text-align: center; */
  color : white
}
body{
  background: #2C3E50;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4CA1AF, #2C3E50);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4CA1AF, #2C3E50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100vh;
}

.SignInJumbotron{
  width: 50%;
  height: 70vh;
  position: absolute;
  top: 50%;
  left: 50%;
  background:  none;
  transform: translate(-50%, -50%);
}
.SignInContainer{
  padding-left: 100px;
  padding-top: 150px;
  padding-right: 100px;
  align-content: center;
  width: 100%;
}
.addslot{
  padding-left: 50px;
  padding-top: 120px;
  /* padding-right: 100px; */
  align-content: center;
  width: 100%;
}

a{
  display: inline;
color : white
}
.FloatBtn{
  position: absolute;
  top: 13%;
  left: 13%;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}
.slideItem{
  height: 60vh;
}
.SlotAdd{
  width: 50%;
  margin-left: 22%;
  margin-top: 2%;
}
#buttons {
  height: 15vh;
    width: 15%;
    border: none;
    outline: none;
  background:  #042d41;
color :whitesmoke;
}
#buttons:hover{
  background: #09557a;
  transition: 0.4s ease-in-out
}
#btnDiv{
  margin-top: 20px;
}
.clearBTn{
  position: relative;
    /* top: 67%; */
    left: 29%;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}
.tab-content{
  margin: 20px;
  margin-top: 58px;

}
/* .loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; 
  animation: spin 2s linear infinite;
}

 
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }  */
  #loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #3498db;
    width: 46px;
    height: 46px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  /* Add animation to "page content" */
  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }
  
  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }